.whole_collage7{
        width:824px;
        height:824px;
        background-color: gray;
      }

      #quater_whole_collage{
        width: 397px;
        height: 397px;
        overflow: hidden;
        display: inline-block;
      }

      #quater_whole_collage img{
        margin: 15px 0 0 15px;
        max-height: 397px;
      }

      #inner_quater_whole_collage{
        width: 193px;
        height: 192px;
        overflow: hidden;
        display: inline-block;
      }

      #inner_quater_whole_collage img{
        margin: 15px 0 0 15px;
        max-height: 192px;
      }